.cover__background {
  background-image: url(../../../images/__background_route66.jpg);
  max-width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: contain;
  background-size: cover;
  text-decoration: none;
  color: #ffffff;
  justify-content: center;
  align-content: center;
}

.cover__background:hover {
  opacity: 0.2;
  transition: 550ms;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    width: 100%;
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover__background {
    width: 100%;
    min-height: 480px;
  }
}
@media screen and (max-width: 320px) {
  .cover__background {
    width: 100%;
    min-height: 200px;
  }
}
