.cover__background {
  background-image: url(../../../images/__background_route66.jpg);
  min-height: 740px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
  justify-content: center;
  align-content: center;
}

.cover__background:before {
  content: '';
  height: 100%;
  width: 100%;
  background: #2a2c2f;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
}

.cover__background:hover:before {
  opacity: 0.8;
}
@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}
@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  }
}
