.footer {
  display: flex;
  max-width: 100%;
  align-self: center;
  margin: 92px 48px 24px 48px;
  padding: 0 0 0 0;
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    margin: 92px 0 24px 18px;
  }
}
